@import '../../styles/_responsive.scss';

.nav {
  display: flex;
  flex-wrap: wrap;
}

.entry {
  flex: 1;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    list-style-type: none;

    li:before {
      display: inline-block;
      content: '/';
      padding-right: 0.4rem;
    }

    li:first-child:before {
      display: none;
      padding-left: 0;
    }

    li:not(:last-child) {
      padding-right: 0.4rem;
    }
  }
}

.no-underline {
  border: none !important;
}
